<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="spreadsheetId" value="1kKD6qzhSqu0Kx4MuPjYNImJuHJjmAcpFj-ixA2kM4Ws"/>
    <add key="range" value="TestData!A2:C"/>
  </appSettings>
</configuration>